.street-view-container {
    width: 100%;
    overflow: hidden;
}

.street-view {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background-color: #000;
    border: 0;
}

.street-view-stop {
    pointer-events: none;
}